{% extends "pages/base/home_base.twig" %}

{% use "pages/to_use/side_bar.twig" %}

{% block title %}
    <h1>About</h1>
{% endblock title %}

{% block content %}

   <p>> Hello !<br>> My name is Student<br>> I am a second year student at HETIC<br></p>

{% endblock content %}