{% extends "pages/base.twig" %}

{% block content %}
    <h1>Index</h1>
    <p class="important">
        Welcome on my awesome homepage.
    </p>
     <a href="{{ path_for('promotions') }}">Promotions</a>
{% endblock %}